.tile2-holder {
    width: 100%;
    max-width: 100%;
    height: 680px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tile2-holder > * {
    background-color: transparent;
}

.tile2-text {
    width: 420px;
    max-width: 100%;
    padding-left: 120px;
}

.tile2-text > * {
    background-color: transparent;
}

.tile2-text > h3 {
    font-size: 46px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    padding-bottom: 30px;
}

.tile2-text > p{
    font-size: 18px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
    font-weight: 300;
}

.tile2-image {
    width: calc(100% - 540px);
    max-width: 678px;
}

@media screen and (max-width: 1200px) {
    .tile2-text {
        padding-left: 0px;
    }

    .tile2-image {
        width: calc(100% - 400px);
    }
}


@media screen and (max-width: 768px) {
    .tile2-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tile2-image {
        width: calc(100% - 40px);
        max-width: 420px;
    }

    .tile2-text {
        max-width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px;
    }
}