.welcome-instructions {
    width: 100%;
    height: calc(100% + 50px);
    color: #dcddde;
    line-height: 1.6;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(31, 31, 34) rgb(43, 45, 49);
    min-height: 0;
    max-height: calc(100% + 50px - 4rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.welcome-instructions-inner {
    max-width: 1100px;
    width: 100%;
    box-sizing: border-box;
    max-height: 100%;
    padding: 0rem 1rem;
}

.welcome-header {
    text-align: center;
}

.welcome-header h1 {
    color: #ffffff;
    font-size: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.welcome-header p {
    color: #b9bbbe;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.instructions-section-1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.instructions-section {
    background-color: #2f3136;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #40444b;
}

.instructions-section h2 {
    color: #ffffff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.instructions-section ul,
.instructions-section ol {
    margin-left: 1.5rem;
    color: #dcddde;
    list-style: disc;
}

.instructions-section li {
    margin-bottom: 0.5rem;
}

.demo-section {
    border: 1px solid #40444b;
    background-color: #2f3136;
}

.demo-section ol {
    list-style: auto;
}

.demo-section p {
    margin-bottom: 1rem;
}

.demo-credentials {
    background-color: #2c2f33;
    padding: 0.8rem;
    border-radius: 4px;
    margin: 0.5rem 0;
    border-left: 3px solid #5865f2;
}

.instructions-footer {
    text-align: center;
    margin-top: 0rem;
    padding: 1rem;
    background-color: #36393f;
    border-radius: 8px;
    border: 1px solid #40444b;
}

.instructions-footer p {
    color: #b9bbbe;
    font-style: italic;
    margin: 0;
}

.welcome-page-back-button {
    display: none;
}


@media screen and (max-width: 1080px) {
    .instructions-section-1 {
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    .instructions-section {
        align-self: stretch;
    }
}

@media screen and (max-width: 500px) {
    .welcome-page-back-button {
        position: absolute;
        top: -0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        border: none;
        font-size: 24px;
        color: white;
        font-weight: 900;
    }
}