.message-holder {
    color: rgba(255, 255, 255, 0.9);
    padding-left: 6px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    border-radius: 5px;
}

.message-holderV2 {
    color: rgba(255, 255, 255, 0.9);
    padding-left: 6px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    border-radius: 5px;
}

.message-time {
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 2px;
    padding-right: 3px;
    font-weight: 400;
    position: relative;
    top: 7px;
    color: rgb(148, 155, 164);
    opacity: 0%;
    background-color: transparent;
    white-space: nowrap;
}

.message-holder:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.message-holderV2:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.message-holderV2:hover > .message-time {
    opacity: 100%;
}

.message-main {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 2px;
    line-height: 1.5;
    background-color: transparent;
}

.message-user-info {
    display: flex;
    align-items: flex-end;
    font-weight: 400;
}

.message-user-info > .message-datetime {
    text-transform: uppercase;
    font-size: 10px;
    padding-left: 7px;
    padding-bottom: 2px;
    color: rgb(148, 155, 164);
}
