
.user-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 200px;
    padding-left: 10px;
}

.user-item-img {
    width: 34px;
    height: 34px;
    margin: 8px;
    border-radius: 15px;
}

.user-item-text {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 5px;
}
