.messages-panel {
    width: calc(100% - 240px - 40px);
    height: calc(100% - 20px);
    padding: 20px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.message-list-holder {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    /* hiding scroll bar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message-list-holder::-webkit-scrollbar {
    display: none;
}

.message-input-form{

    >input {
        width: calc(100% - 40px);
        border-radius: 5px;
        background-color: rgba(128, 128, 128, 0.10);
        color: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        border: none;
        margin-top: 20px;
        font-size: 14px;
    }
}
