.channel-overview-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 60px 40px;
    height: calc(100dvh - 120px);
    width: calc(100% - 80px);
}

.channel-overview-menu div {
    width: 100%;
}

.channel-overview-menu > h3 {
    color: white;
    font-size: 20px;
    padding-bottom: 4px;
    cursor: default;
}

.channel-overview-menu .channel-overview-input-title {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    color: rgb(148, 155, 164);
    cursor: default;
    display: block;
    padding-top: 24px;
    padding-bottom: 10px;
}

.channel-overview-menu .channel-overview-input {
    background-color: rgb(30, 31, 34);
    color: rgb(186, 194, 204);
    border: none;
    border-radius: 5px;
    padding: 10px;
    max-width: 640px;
    width: calc(100% - 40px);
}

.channel-overview-menu div .save-button-holder {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    max-width: 630px;
    width: calc(100% - 130px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: absolute;
    bottom: 20px;
    cursor: default;
    font-size: 15px;
    transition: opacity 0.2s;
}

.channel-overview-menu .save-button-holder > div{
    color: white;
    padding-left: 5px;
    background-color: transparent;
}

.channel-overview-reset-button{
    color: rgb(206, 206, 206);
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.channel-overview-reset-button:hover {
    text-decoration: underline;
}

.channel-overview-save-button{
    color: rgb(206, 206, 206);
    padding: 5px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(36, 128, 70);
    white-space: nowrap;

}

.channel-overview-save-button:hover{
    background-color: rgb(26, 99, 52);
}

.hidden {
    opacity: 0;
    transition: opacity 0.2s;
}

.channel-overview-menu .save-button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 267px;
    width: auto;
}

.channel-overview-menu .buttons {
    width: fit-content;
    display: flex;
}
