.overview-menu .left-option {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    margin-right: 2.5%;
}

.overview-menu .left-option form {
    width: 95%;
}

.overview-menu .user-details-divider {
    position: relative;
    bottom: 0px;
    margin: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(100, 104, 115, 0.5);
    outline: none;
    height: 1.5px;
    border: none;
}

.overview-menu .left-option .user-image-upload-button {
    /* margin-top: 20px; */
    padding: 8px 15px;
    border: solid 1px #5865f2;
    background-color: #5865f2;
    color: white;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s, border 0.25s;
    font-weight: 400;
    font-size: 12px;
}

.overview-menu .left-option .user-image-upload-button:hover {
    border: solid 1px hsla(235, 86%, 65%, 0);
    background-color: hsla(235, 86%, 65%, 0.75);
    transition: background-color 0.25s, border 0.25s;
}

#user-image-input, #user-image-input2 {
    display: none;
}

.overview-menu .user-color {
    border: none;
    width: 30%;
    height: 60px;
    border-radius: 30px;
}
