.overview-menu .div-fill {
    width: 100%;
}

.overview-menu .flex-row {
    display: flex;
    width: min(calc(100% - 40px), 740px);
}

.overview-menu .left-option {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    margin-right: 2.5%;
}

.overview-menu .right-option {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
}

.overview-menu .left-option form {
    width: 95%;
}

.overview-menu .user-details-divider {
    position: relative;
    bottom: 0px;
    margin: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(100, 104, 115, 0.5);
    outline: none;
    height: 1.5px;
    border: none;
}

.overview-menu .left-option .user-image-upload-button {
    /* margin-top: 20px; */
    padding: 8px 15px;
    border: solid 1px #5865f2;
    background-color: #5865f2;
    color: white;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s, border 0.25s;
    font-weight: 400;
    font-size: 12px;
}

.overview-menu .left-option .user-image-upload-button:hover {
    border: solid 1px hsla(235, 86%, 65%, 0);
    background-color: hsla(235, 86%, 65%, 0.75);
    transition: background-color 0.25s, border 0.25s;
}

#user-image-input, #user-image-input2 {
    display: none;
}

.overview-menu .user-color {
    border: none;
    width: 30%;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    padding: 0;
}

.overview-menu .user-color::-webkit-color-swatch{
    border-radius: 5px;
    border: none;
}

.overview-menu .user-color::-moz-color-swatch,
.overview-menu .user-color::-moz-focus-inner{
    border-radius: 5px;
    border: none;
}

.overview-menu .right-option .user-item-card-holder {
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
