.server-name-holder {
    border-bottom: #202225 solid 2px;
    display: flex;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    min-height: 32px;
    min-width: 200px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.server-name {
    display: inline;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(200px - 20px - 20px);
    background-color: transparent;
    cursor: pointer;
    padding-top: 4px;
    height: 20px;
}

.server-fake-dropdown {
    padding-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(180, 180, 180);
    transform: scale(1.7, 0.7);
    position: relative;
    right: -20px;
    background-color: transparent;
    cursor: pointer;
}

.server-name-holder:hover {
    background-color: rgba(78, 80, 88, 0.3);
}

.server-details-holder {
    position: absolute;
    background-color: transparent;
    left: -72px;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.server-details-dropdown {
    position: absolute;
    top: 56px;
    left: 81px;
    min-width: 206px;
    background-color: black;

    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: rgb(173, 173, 173);
    padding: 7px;
    border-radius: 5px;
    box-shadow: #202225 0px 0px 10px;
}

.server-details-option {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
}

.server-details-option > svg {
    height: 15px;
    width: 15px;
    fill: rgb(173, 173, 173);
}

.server-details-option:hover {
    background-color: #5865f2;
    color: white;
}

.server-details-option:hover > svg{
    fill: white;
}

.server-leave-option{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    color: #ED4245;
}

.server-leave-option > svg {
    height: 15px;
    width: 15px;
    fill: #ED4245;
}

.server-leave-option:hover {
    background-color: #ED4245;
    color: white;
}

.server-details-option:hover > svg{
    fill: white;
}
