/* TODO Add site wide styles */

* {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: inherit;
}

#root {
    width: 100%;
    height: 100%;
    position: absolute;
}
