/* TODO Add site wide styles */

* {
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: inherit;
    z-index: inherit;
}

#root {
    width: 100dvw;
    min-width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.hidden {
    display: none;
}
