.channels-searchbar {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: 17px; */
    border-bottom: #202225 solid 2px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;

    width: 240px;
    max-height: 48px;
}


.channels-searchbar > input{
    background-color: #202225;
    border: none;
    color: rgb(194, 203, 214);
    border-radius: 5px;
    padding: 10px 20px;
}

.channels-searchbar > input::placeholder {
    color:rgba(194, 203, 214, 0.6);
}
