
.channels-page {
    background-color: #202225;
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: 72px 200px auto;
}

.channels-column1{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(31, 31, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.channels-column2{
    grid-column-start: 2;
    grid-column-end: 3;

    background-color: rgb(43, 45, 49);
    color: #b9bbbe;
}

.channels-column3{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(49, 51, 56);

}


.logout-button{
    color: #b9bbbe;
}
