
.channels-page {
    background-color: #202225;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 72px 240px auto;
}

.channels-column1{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(31, 31, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

    overflow-y: scroll;


    /* hiding scroll bar */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.channels-column1::-webkit-scrollbar {
    display: none;
}

.channels-column2{
    grid-column-start: 2;
    grid-column-end: 3;

    background-color: rgb(43, 45, 49);
    color: #b9bbbe;

    display: grid;
    grid-template-rows: 50px auto 50px;
}

.channels-column3{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(49, 51, 56);
}

.icon {
    width: 27px;
    height: 27px;
    padding: 12px;
    margin: 5px;
    border-radius: 25.5px;
    background-color: rgb(43, 45, 49);
    transition: background-color 0.2s, border-radius 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
        width: 30px;
        height: 30px;
    }
}

.icon.selected, .icon:hover {
    background-color: #5865f2;
    border-radius: 18px;
    transition: background-color 0.2s, border-radius 0.2s;
}

.channels-divider {
    width: 28px;
    position: relative;
    bottom: 0px;
    margin: 1px;
    padding: 1px;
    background-color: rgb(49, 51, 56);
    outline: none;
    height: 1px;
    border: none;
}

.channels-add-server-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    min-height: 51px;
    border-radius: 25.5px;
    margin: 5px;
    margin-bottom: 10px;
    color: rgb(35, 165, 89);
    background-color: rgb(43, 45, 49);
    text-decoration: none;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 200;
    transition: background-color 0.2s, border-radius 0.2s;
}

.channels-add-server-button:hover {
    color: white;
    background-color: rgb(35, 165, 89);
    border-radius: 18px;
    transition: background-color 0.2s, border-radius 0.2s;
}

.channels-server-name {
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: #202225 solid 2px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 0px 20px;
}

.channels-searchbar {
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: #202225 solid 2px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 0px 20px;
}

.current-user-profile {
    grid-row-start: 3;
    grid-row-end: 4;
}
