.private-chats-list-holder {
    width: calc(100dvw - 72px);
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    padding-top: 50px;
    overflow-y: scroll;
    top: -50px;
    background-color: transparent;
    z-index: unset;
}

.private-chats-category-name {
    padding-left: 18px;
    display: flex;
    align-items: center;
    height: 25px;
    text-transform: uppercase;
    color: rgb(148, 155, 164);
    cursor: default;
    font-size: 12px;
    font-weight: 600;
    padding-top: 20px;

}
